[submodule "site-lisp/js2-mode"]
	path = site-lisp/js2-mode
	url = https://github.com/magnars/js2-mode
[submodule "site-lisp/expand-region"]
	path = site-lisp/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "site-lisp/php-mode"]
	path = site-lisp/php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule "site-lisp/bash-completion"]
	path = site-lisp/bash-completion
	url = https://github.com/szermatt/emacs-bash-completion.git
[submodule "site-lisp/multiple-cursors"]
	path = site-lisp/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "site-lisp/js2-refactor"]
	path = site-lisp/js2-refactor
	url = https://github.com/magnars/js2-refactor.el.git
[submodule "site-lisp/smex"]
	path = site-lisp/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "site-lisp/fill-column-indicator"]
	path = site-lisp/fill-column-indicator
	url = https://github.com/alpaker/Fill-Column-Indicator.git
[submodule "site-lisp/ido-ubiquitous"]
	path = site-lisp/ido-ubiquitous
	url = https://github.com/DarwinAwardWinner/ido-ubiquitous.git
[submodule "site-lisp/s"]
	path = site-lisp/s
	url = https://github.com/magnars/s.el.git
[submodule "site-lisp/dash"]
	path = site-lisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule "site-lisp/tagedit"]
	path = site-lisp/tagedit
	url = git@github.com:magnars/tagedit
[submodule "site-lisp/fold-this"]
	path = site-lisp/fold-this
	url = https://github.com/magnars/fold-this.el.git
[submodule "site-lisp/simplezen"]
	path = site-lisp/simplezen
	url = https://github.com/magnars/simplezen.el.git
[submodule "site-lisp/flycheck"]
	path = site-lisp/flycheck
	url = https://github.com/lunaryorn/flycheck.git
[submodule "site-lisp/ido-vertical-mode"]
	path = site-lisp/ido-vertical-mode
	url = https://github.com/gempesaw/ido-vertical-mode.el.git
[submodule "site-lisp/smart-forward"]
	path = site-lisp/smart-forward
	url = https://github.com/magnars/smart-forward.el.git
[submodule "site-lisp/ace-jump-mode"]
	path = site-lisp/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "site-lisp/tern"]
	path = site-lisp/tern
	url = https://github.com/marijnh/tern.git
[submodule "site-lisp/asp-mode"]
	path = site-lisp/asp-mode
	url = https://github.com/chrisdone/asp-mode.git
[submodule "site-lisp/f"]
	path = site-lisp/f
	url = https://github.com/rejeep/f.el.git
[submodule "site-lisp/wgrep"]
	path = site-lisp/wgrep
	url = https://github.com/magnars/Emacs-wgrep
[submodule "site-lisp/browse-kill-ring"]
	path = site-lisp/browse-kill-ring
	url = https://github.com/T-J-Teru/browse-kill-ring.git
[submodule "site-lisp/neotree"]
	path = site-lisp/neotree
	url = https://github.com/jaypei/emacs-neotree.git
[submodule "site-lisp/xslt-dep"]
	path = site-lisp/xslt-dep
	url = git@github.com:maksle/xslt-dependencies
[submodule "site-lisp/etags-update"]
	path = site-lisp/etags-update
	url = git@github.com:maksle/etags-update
[submodule "site-lisp/tagedit-nxml"]
	path = site-lisp/tagedit-nxml
	url = git@github.com:maksle/tagedit-nxml.el
