[submodule "site-lisp/asp-mode"]
	path = site-lisp/asp-mode
	url = https://github.com/chrisdone/asp-mode.git
[submodule "site-lisp/xslt-dep"]
	path = site-lisp/xslt-dep
	url = git@github.com:maksle/xslt-dependencies
[submodule "site-lisp/etags-update"]
	path = site-lisp/etags-update
	url = git@github.com:maksle/etags-update
[submodule "site-lisp/tagedit-nxml"]
	path = site-lisp/tagedit-nxml
	url = git@github.com:maksle/tagedit-nxml.el
