%backup%~
backups/**
places
.places
ac-comphist.dat
auto-save-list/**
eshell/history
*.elc
history
elpa
tramp
eshell
semanticdb
bookmarks
custom.el
.cask
projectile-bookmarks.eld
projectile.cache
geben
users/*
recentf
server
ido.last
smex-items